# other files
examples/.ipynb_checkpoints
examples/data
examples/mami
examples/tmp
examples/tutorial_multiple_tasks.py
examples/mami_parallel_.py
examples/mami_parallel_part2.py
examples/run_experiments.sh
examples/mami_concat_res.py

*figs/

# data files 
data/

# hidden files
.DS_store
.gitignore

# visual code studio
.vscode/

# docstrings
docs/generated/
docs/auto_examples/
docs/modules/

# distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class